<pre><div style="color: Gray"><div id="lastUpdated" style="display:inline;"></div>
{% if site.github.is_project_page %}
<div class="footer mt-5 pt-3 text-right">
<a href="{{ site.github.repository_url }}" class="button"><small>view repository</small></a>
</div>
{% endif %}
<div style="width: 600px; margin:0 auto;">
__/\__  
\ oO /
/_ ._\    i didn't know what this was, and when i did know what it was,
  \/          i have to say, it sounded like a huge waste of time                           
</div><div style="width: 1200px; margin:0; text-align: right; color: DarkGray;">slv^2014</div></div></pre>
<!-- Matomo Image Tracker--><noscript>
<img src="https://stats.sscripts.ga/piwik/piwik.php?idsite=17&rec=1" style="border:0" alt="" />
</noscript><!-- End Matomo -->
</body></html>
