<pre>
<div style="color: Gray">
<div class="foot_ct">
<span class="foot_upd" id="lastUpdated"></span>
<span class="foot_lnk"><a href="https://github.com/silv3rr/scripts">view repository</a> | <a href="https://silv3rr.github.io/scripts/">view website</a><br><i>We use <a href="https://matomo.org/privacy-policy">Matomo</a> web analytics (<a href="https://stats.scripts.nl.eu.org/piwik/index.php?module=CoreAdminHome&action=optOut&language=en&backgroundColor=d3d3d3&fontColor=000&fontSize=10pt&fontFamily=SFMono-Regular,Consolas,Liberation%20Mono,Menlo,Courier,monospace">opt-out</a>)</i>
</span>
</div>
<div class="foot_star">
__/\__
\ oO /
/_ ._\    i didn't know what this was, and when i did know what it was,
  \/          i have to say, it sounded like a huge waste of time
</div>
<div class="foot_slv">slv^2014</div>
</div>
</pre>
<!-- Matomo Image Tracker--><noscript>
<img src="https://stats.scripts.nl.eu.org/piwik/piwik.php?idsite=17&rec=1" style="border:0" alt="" />
</noscript><!-- End Matomo -->
</body>
</html>
