<pre><div style="color: Gray"><div style="display:inline; margin:0 auto;"><span id="lastUpdated" style="text-align: left;"></span><span style="margin-left: 60%; text-align: right;"><small><i>We use <a href="https://matomo.org/privacy-policy">Matomo</a> web analytics (<a href="https://stats.sscripts.ga/piwik/index.php?module=CoreAdminHome&action=optOut&language=en&backgroundColor=d3d3d3&fontColor=000&fontSize=10pt&fontFamily=SFMono-Regular,Consolas,Liberation%20Mono,Menlo,Courier,monospace">opt-out</a>)</i> | <a href="https://github.com/silv3rr/sscripts.ga">view repository</a></span>
<span style="margin-left: 80%; text-align: right;"><a href="https://sscripts.ga">view website</a></i></small></span></div>
<div style="width: 600px; margin:0 auto;">
__/\__
\ oO /
/_ ._\    i didn't know what this was, and when i did know what it was,
  \/          i have to say, it sounded like a huge waste of time
</div><div style="width: 1200px; margin:0; text-align: right; color: DarkGray;">slv^2014</div></div></pre>
<!-- Matomo Image Tracker--><noscript>
<img src="https://stats.sscripts.ga/piwik/piwik.php?idsite=17&rec=1" style="border:0" alt="" />
</noscript><!-- End Matomo -->
</body></html>
