<html lang="en-US">
<head>
<details><summary></summary>

<title>{{ site.title | default: site.github.repository_name }}</title>
<meta charset="UTF-8">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="assets/css/style.css" />
<script type="text/javascript" src="assets/js/piwik.js"></script>
<script type="text/javascript" src="assets/js/updated.js"></script>
</details>
</head>
<body onLoad="lastUpdated('README.md');">  
<div class="slvlogo">
<pre>
<!-- ``` -->
 __/\______  __/\__  _/\__    _/\__   _/\___/\___     _/\____   mfn^AiiA
/         /__\    /_/    /___/_    / /    /  __ /____/  __  /___
<span style="color:Gray;">\____         /   -/    //     /   \/    /    /        /   /    \</span>
<span style="color:SlateGray;"> /           /                /\        /          /     _      /</span>
/_______  __/\__  ________  _/  \___  _/\______  _/_____//     /
        \/      \/        \/        \/         \/       /__  _/
<span style="color:DarkSlateGray;">                                                           \/</span>
<!-- ``` -->
</pre>
</div>
<div class="txtscripts">
<pre>s   c   r   i   p   t   s</pre>
</div>
