<div style="width: 600px; margin: 0 auto; margin-top: 20px;"><pre>
<!-- ``` -->
              .-------------------------------------------------------- >
              |                                 |_|____
              |        ______  ______ _______  ___|   /_____
              |        \_   /__\____/_\___ _/__\_ |  //    /
              `--  _ _/    /   \_     \_ |    \_  l_/ \_ _  \
                  \\\\__________/______/ |_____/___|   //// /
                                     \___|_._      l__/\___/ 
                                         |_|                   Bd!/L¹24
<!-- ``` --></pre></div>
<div style="width: 300px; margin:0 auto; margin-top: 10px; margin-bottom: 10px; color: Blue">
<pre><b> g   l   f   t   p   d     l   i   n   k   s </b></pre></div>
