<div style="width: 600px; margin: 0 auto; margin-top: 20px;"><pre>
<!-- ``` -->
                           ___     ___ ______  ___ ___  _______
                          |   |   |___|   _  \|   |   )|   ____|
                          |.  |   |.  |.  |   |.  |  / |   |___|
                          |.  |___|.  |.  |   |.  _  \ |____   |
                          |:  |   |:  |:  |   |:  |   \|:  |   |
                          |::.. . |::.|::.|   |::.| .  |::.. . |
                          \-------!---!--- ---!--- ---\|-------/
<!-- ``` --></pre></div>
<div style="width: 300px; margin:0 auto; margin-top: 10px; margin-bottom: 10px; color: Blue">
<pre><b> g   l   f   t   p   d     l   i   n   k   s </b></pre></div>
