* { padding: 0; margin: 0; }
body {
    font-family: sans-serif;
    text-rendering: optimizespeed;
    background-color: #f9f9f9;
}
a {
    color: #006ed3;
    text-decoration: none;
}
a:hover,
h1 a:hover {
    color: #319cff;
}
header, footer,
#summary {
    padding-left: 5%;
    padding-right: 5%;
}
th:first-child,
td:first-child {
    width: 5%;
}
th:last-child,
td:last-child {
    width: 5%;
}
header, footer {
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: #f9f9f9;
}
h1 {
    font-size: 20px;
    font-weight: normal;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: #999;
}
h1 a {
    color: #000;
    margin: 0 4px;
}
h1 a:hover {
    text-decoration: underline;
}
h1 a:first-child {
    margin: 0;
}
main {
    display: block;
}
.meta {
    font-size: 12px;
    font-family: Verdana, sans-serif;
    border-bottom: 1px solid #9C9C9C;
    padding-top: 10px;
    padding-bottom: 10px;
}
.meta-item {
    margin-right: 1em;
}
#filter {
    padding: 4px;
    border: 1px solid #CCC;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr {
    border-bottom: 1px dashed #bababa 
    ;
}
tbody tr:hover {
    background-color: #ffffec;
}
th,
td {
    text-align: left;
    padding: 10px 0;
}
th {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    white-space: nowrap;
    color:#3f3f3f
}
th a {
    color: black;
}
th svg {
    vertical-align: middle;
}
td {
    white-space: nowrap;
    font-size: 14px;
}
td:nth-child(2) {
    width: 80%;
}
td:nth-child(4) {
    padding: 0 20px 0 20px;
}
th:nth-child(5),
td:nth-child(6) {
    text-align: right;
}
td:nth-child(2) svg {
    position: absolute;
}
td .name {
    margin-left: 1.75em;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
td .goup {
    margin-left: 1.75em;
    padding: 0;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
.icon {
    margin-right: 5px;
}
tr.clickable { 
    cursor: pointer; 
} 
tr.clickable a { 
    display: block; 
} 
@media (max-width: 600px) {
    * {
        font-size: 1.06rem;
    }
    .hideable {
        display: none;
    }
    td:nth-child(2) {
        width: auto;
    }
    th:nth-child(3),
    td:nth-child(3) {
        padding-right: 5%;
        text-align: right;
    }
    h1 {
        color: #000;
    }
    h1 a {
        margin: 0;
    }
    #filter {
        max-width: 100px;
    }
}