---
---

@import "{{ site.theme }}";
body {
    background-color: #f6f8fa;
}
h1 {
    visibility: hidden !important;
}
.markdown-body {
    font-size: 14px;
}
.my-5 {
    margin-top: 0px !important; 
}
    
/*
.container-lg {
    max-width: 1212px;
}
*/
