---
---

@import "{{ site.theme }}";
body {
    /* background-color: #f6f8fa; */
    background-color: LightGray; 
    width: 1200px;
    margin: 0 auto;
    color: Black;
    line-height: 0;
}
a:link {
    color: Blue;
}
a:visited {
    color: Blue;
}
hr {
    border-color: Gray;
    border-style: dashed;
}
div#old, div#old a {
    display:inline;
    color: Gray;
}
h1 {
    visibility: hidden !important;
}
.container-lg {
    max-width: 1072px;
}
.markdown-pre {
    font-size: 16px;
}
.markdown-body {
    font-size: 14px;
}
.my-5 {
    margin-top: 0px !important; 
}
img[alt~="Icon"] {
    visibility: hidden !important;
}

