<!DOCTYPE html>  
<html>  
<head>  
  <title> .. links .. </title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="../favicon.ico?v=2" type="image/x-icon" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <script src="../assets/js/linkurl.js"></script>
  <script src="../assets/js/updated.js"></script>
</head>
<body onLoad="linkURL(document.documentElement.innerHTML); lastUpdated('index.html');">
<div style="width: 600px; margin: 0 auto; margin-top: 20px;"><pre>
<!-- ``` -->
                          ___     ___ ______  ___ ___  _______
                         |   |   |___|   _  \|   |   )|   ____|
                         |.  |   |.  |.  |   |.  |  / |   |___|
                         |.  |___|.  |.  |   |.  _  \ |____   |
                         |:  |   |:  |:  |   |:  |   \|:  |   |
                         |::.. . |::.|::.|   |::.| .  |::.. . |
                         \-------!---!--- ---!--- ---\|-------/
<!-- ``` --></pre></div>
<div style="width: 300px; margin:0 auto; margin-top: 10px; margin-bottom: 10px; color: Blue">
<pre><b> g   l   f   t   p   d     l   i   n   k   s </b></pre></div>
<hr>
<pre>
<div id="lastUpdated" style="display:inline"></div></pre><br>
<pre>
{{ content }}
</pre>
<hr>
{% include bottom.html %}
