<!DOCTYPE html>  
<html>  
<head>  
  <title> .. links .. </title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="favicon.ico?v=2" type="image/x-icon" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <script src="assets/js/linkurl.js"></script>
  <script src="assets/js/updated.js"></script>
</head>
<body onLoad="linkURL(document.documentElement.innerHTML); lastUpdated();">
{% include lnklogo.html %}
<hr><br><pre>
https://glinks.ga
<div id="lastUpdated" style="display:inline"></div></pre><br><br><pre>

{{ content }}

</pre><hr>
<div style="width: 600px; margin:0 auto;">
__/\__
\ oO /
/_ ._\    i didn't know what this was, and when i did know what it was,
  \/          i have to say, it sounded like a huge waste of time
</div><div style="width: 1200px; margin:0; text-align: right; color: DarkGray;">slv^2014</div></div></pre>
<!-- Matomo Image Tracker--><noscript>
<img src="https://stats.sscripts.ga/piwik/piwik.php?idsite=17&rec=1" style="border:0" alt="" />
</noscript><!-- End Matomo -->
</body></html>
