<!DOCTYPE html>  
<html>  
<head>  
  <title> .. links .. </title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="favicon.ico?v=2" type="image/x-icon" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <script src="assets/js/linkurl.js"></script>
  <script src="assets/js/updated.js"></script>
</head>
<body onLoad="linkURL(document.documentElement.innerHTML); lastUpdated();">
<pre><font color="Blue"><br><b> l   i   n   k   s </b></font><hr><br>https://glinks.ga
<div id="lastUpdated" style="display:inline"></div><br><br>
{{ content }}
<hr><br>
</pre>
</body>  
</html>
